<meta charset="utf-8">
<title>Fantasy Premier League</title>
<link rel="stylesheet" href="/css/nav.css">
<link rel="icon" type="image/png" href="/images/soccer.ico"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
